* {
  box-sizing: border-box;
}

body {
  padding: 20px;
  font-family: 'Pacifico', cursive;
  background-color:#eef0f0;
}

a {
  color: white;
  vertical-align: center;
  text-decoration: none;
  font-size: 35px;
  padding: 0px;
  font-family: 'Londrina Outline', cursive;
}

nav {
  background-color:#babece;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  margin: 10px 0px 10px 0px;
  font-family: 'Londrina Outline', cursive;
}

.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 75vh;  
  flex-direction: column;
  padding: 0px;
  border: 5px black solid;
  border-radius: 8px;
}

h1, h2 {
  margin: 0px;
  padding: 0px;
}

h1, h4 {
  font-family: 'Londrina Outline', cursive;
}

h1 {
  font-size: 200px;
}

h2 {
  font-size: 100px;
  color: #babece
}

h3 {
  font-size: 30px;
  background-color: #babece;
  padding: 0px;
  margin: 0px;
}

h4, h5 {
  margin: 0px;
  padding: 0px;
  text-align: center;
}

h4 {
  font-size: 75px;
}

h5 {
  font-size: 100px;
}

h6 {
  font-size: 40px;
  padding: 0px;
  margin: 0px;
  font-family: 'Londrina Outline', cursive;
}

#greeting {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

#zip {
  margin-left:auto;
}

#zip-form {
  display: flex;
  justify-content: flex-end;
  align-items: baseline;
}

.square-button {
  width: 55px;
  height: 55px;
  border-radius: 4px;
  font-family: 'Londrina Outline', cursive;
  background-color: black;
  color: white;
  font-size: 20px;
}

.browse {
  width: 500px;
  height: 75px;
  border: 3px solid #babece;
  background-color: #babece;
  border-radius: 8px;
  color: white;
  font-size: 45px;
  font-family: 'Londrina Outline', cursive;
}

.three-column {
  display: grid;
  width: 100%;
  text-align: center;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 75px;
  padding: 20px;
}

.images {
  display: flex;
  flex-direction: column;
  font-size: 50px;
  border: 5px solid #babece;
  justify-content: center;
  border-radius: 4px;
}

.add-form, .add-message {
  display: flex;
  justify-content: center;
  font-size: 35px;
}

.add {
  color: white;
}

.add, .file-upload-label {
  width: 300px;
  height: 50px;
  border: 3px solid black;
  background-color: #babece;
  border-radius: 8px;
  font-size: 30px;
  font-family: 'Londrina Outline', cursive;
  font-weight: bold;
}

.file-upload {
  display: inline-block;
}

.file-upload input[type=file]{
  display: none;
}

.file-upload-label {
  padding: 0px 75px;
  background-color: #eef0f0;
}

.create {
  display: flex;
  flex-direction: column;
  font-size: 30px;
  font-family: 'Londrina Outline', cursive;
  border: 5px #babece solid;
  padding: 50px;
  font-weight: bold;
  align-content: center;
}

input {
  width: 500px;
  height: 50px;
  align-items: center;
  margin: 10px;
  font-size: 30px;
  font-family: 'Pacifico', cursive;
  background-color: #eef0f0;
  border-radius: 4px;
}

.center {
  display: flex;
  justify-content: center;
}

.form-header {
  margin-bottom: 25px;
}

.closet-name {
  font-size: 45px;
  color: black;
  padding: 0px;
}

#closet-header{
  border: 5px solid #babece;
}

.browser-heading {
  font-size: 40px;
  color: black;
  font-family: 'Londrina Outline', cursive;
}

.browser-description {
  font-size: 20px;

}

.browser-view {
  border: 1px solid black;
}

.outfit {
  background-color: #babece;
}

.outfit, .outfit-input {
  align-items: flex-start;
  font-size: 25px;
  font-weight: bold;
  border: 1px solid black;
  padding: 10px;
  font-family: 'Londrina Outline', cursive;
}


#outfit-header{
  font-size:35px;
  margin: 0px;
  padding: 0px;
}

.outfit-input {
  width: 300px;
  height: 40px;
}

img {
  height: 400px;
  width: 300px;
}

.caption {
  background-color: #babece;
  font-size: 20px;
}

.outfit-caption {
  background-color: black;
  color: white;
  font-size: 30px;
}

.outfit-delete {
  background-color: #babece;
  border-radius: 50%;
  border: solid black;
  font-size: 20px;
}

.delete {
  background-color: #babece;
  border-radius: 50%;
  color: white;
  font-size: 20px;
}

.delete-form {
  display: flex;
  align-content: flex-start;
}

.search{
background-color: #babece;
border-radius: 4px;
color: white;
width: 150px;
height: 50px;
font-family: 'Londrina Outline', cursive;
font-size: 35px;
}

.search-input {
  width: 400px;
  height: 50px;
  border: 3px black solid;
  font-size: 25px;
}

.search-form {
  display: flex;
  justify-content: flex-end;
  align-items: baseline
}

#update-heading {
  font-family: 'Pacifico', cursive;
  padding: 10px;
}

.two-column {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-gap: 0px;
}

.two-column-flip {
  display: grid;
  grid-template-columns: 3fr 1fr;
}

#profile-pic {
  height: 200px;
  width: 200px;
  padding: 0px;
  border: 5px solid #babece;
  border-radius: 50%;
}

.thumbnail {
  width: 145px;
  height: 210px;
  margin: 5px;
}

.thread {
  display: grid;
  grid-template-columns: 1fr 1fr;
  border: 5px solid #babece;
  border-radius: 10px;
}
.thread-heading {
  font-size: 30px;
  grid-column: span 2;
  text-align: center;
  background-color: #babece;
}

#weather {
  display: flex;
  flex-direction: column;
}

.weather {
  display: flex;
  justify-content: flex-end;
}

#weather-header {
  padding: 20px;
  font-size: 100px;
}

.stack {
  display: flex;
  flex-direction: column;
  font-size: 45px;
  padding: 0px;
  margin: 0px;
  align-items: flex-end;
}

.high-low {
  padding: 0px;
  margin: 0px;
  margin-left: auto;
}